
/* Home page */
.jumbotron {
    text-align: center;
}

/* Survey Page */
#name, #profile-pic {
    width: 100%;
}

/* modal image */
#friend-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}